.collection-page {
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;

  & .collection-item {
    margin-bottom: 30px;
  }
}
