.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: white;
  padding: 5px;
  flex-wrap: wrap;

  span {
    display: flex;
    justify-content: space-evenly;
  }

  .title {
    margin: 10px 0;
    background-color: rwhiteed;
    color: black;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 165px;
    padding-left: 85px;
  }
}
