.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 8vh;
    width: 11vw;
    /* padding: 25px; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleLogo {
    padding: 18px;
    color: black;
    background-color: white;
    display: flex;
    flex: auto;
  }

  .options {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 20px 15px;
      cursor: pointer;
      color: white;
      background-color: red;
      margin: 1px;
    }
  }
}
