body {
  font-family: 'Open Sans Condensed';
  /* padding: 20px 60px; */
  background-color: black;
}

a {
  text-decoration: none;
  /* color: white; */
}

h3{
  color: red;
}

* {
  box-sizing: border-box;
}
